.AuthButton_Conatiner {
  right: 0;
  position: absolute;
}

.Auth_Button {
  background-color: #f8f9fa !important;
  color: black !important;
  margin-right: 10 !important;
  margin-left: 10 !important;
  border-width: 0 !important;
  outline-style: none !important;
}

.Auth_Button:focus {
  /* outline: none !important; */
  box-shadow: none !important;
}
